html, body {
  margin: 0;
  background-color: gold;
}

h1 {
  text-align: center;
}

.row {
  position: fixed;
  color: white;
  width: 1400px;
  height: 200px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  left: 20px;
}

#player1 {
  position: fixed;
  top: 120px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: url(http://www.wiredforwords.com/IMAGES/FlyingBee.gif) 0 0 no-repeat;
}

#player2 {
  position: fixed;
  top:200px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: url(http://www.wiredforwords.com/IMAGES/FlyingBee.gif) 0 0 no-repeat;
}
