html, body {
  margin: 0;
  background-color: gold;
}

h1 {
  text-align: center;
}

.row {
  position: fixed;
  color: white;
  width: 1400px;
  height: 200px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  left: 20px;
}

#player1 {
  position: absolute;;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

#player2 {
  position: absolute;;
  top: 120px;
  left: 20px;
  width: 40px;
  height: 40px;
}

#finishLine {
  position: absolute;
  top: -2.3%;
  left: 93.3%;
  width: 100px;
  height: 200px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
}
